:root {
    --primary-color: #1D4D72;
    --text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

#course-title {
    display: block;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    font-size: larger;
    background-color: var(--primary-color);
    color: var(--text-color);
}

nav ul {
    display: flex;
    list-style: none;
    background-color: #333333;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: large;
}

nav li {
    flex: 1;
    text-align: center;
    padding: 1rem;
    border: 1px solid transparent;
}

nav li:hover {
    border: 1px solid white;
}

main {
    max-width: 1020px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    grid-column: 1/3;
    text-align: center;
    margin: 2rem;
}

h2 {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
}

.card p {
    padding: 10px;
    text-align: left;
}

.card img {
    max-width: 360px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px; 
    height: auto; 
}

#profile-img {
    max-width: 160px;
    float: left;
    margin: 10px;
    width: 40%;
    height: auto;
}

footer {
    padding: 1rem;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    margin-top: 10px;
}

#lastModified{
    color: yellow;
}