@media screen and (min-width: 600px) {
    main {
        position: relative;
    }

    picture img {
        border: 0;
    }

    footer {
        margin: 0;
    }

    #data {
        position: absolute;
        top: 10px;
        background-color: var(--white-transparent);
        max-width: 30%;
    }

    #weather {
        position: absolute;
        right: 10px;
        bottom: 50px;
        background-color: var(--white-transparent);
    }

    h2 {
        background-color: var(--light-red);
        color: var(--white);
    }

    #weather h2::after {
        content: " ☀️";
        display: inline;
    }

    dl {
        padding: 1rem;
    }

}