:root {
    --red: rgb(215, 10, 10);
    --dark-blue: darkblue;
    --white: white;
    --white-transparent: rgb(255, 255, 255, 0.8);
    --light-red: rgb(249, 37, 37, 0.85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: var(--white);
    color: var(--red);
    text-align: center;
    padding: 1rem;
    font-family: "Google Sans", sans-serif;
    border-bottom: 1rem solid var(--dark-blue);
}

picture {
    display: block;
    width: 100%;
}

picture img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1rem solid var(--red);
}

section {
    margin: 1rem;
}

h2 {
    text-align: center;
    padding: 1rem;
}

#weather h2::after {
    content: url("../images/sunny.svg");
    display: block;
}

dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

dt {
    font-weight: bold;
    text-align: right;
}

dd {
    margin: 0;
}

footer {
    border-top: 0.5rem solid var(--dark-blue);
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    padding: 0.8rem;
    margin-top: 2rem;
}